* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  background: linear-gradient(to right, rgb(255, 0, 234), rgb(98, 0, 255));

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-align: center;
}

.body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}